body,h1,h2,p
{
    text-align: center;
}
h1
{
  padding:30px;
}
h1,h2,h3{
  font-family: 'Noto Sans TC', sans-serif;
}
p{
  font-family: 'Prompt', sans-serif;
}
#body_color
{
 /* background-image: url('sak7.jpg'); */
 background-color: #D7E9F7;
}
.clients_color
{
  color:black;
}
.navbar
{
    background-color:#fff !important;
}
.items_of_nav
{
  padding:12px;
}
 .hr_css
{
  /* background-color:#fff; */
  width: 80%;
  height:5px !important;
  color:rgb(0,0,0) !important ;
  border-width:0;
  margin-left:10%;
 /* border-top: 7px dotted rgb(0, 0, 0);  */
} 
img
 {
  max-width: 100%;
  max-height: 100%;
}
.row
{
    padding:30px;
}
.block_css
{
  margin: 50px 50px 0px 50px;
  text-align: center;
}
.carousel-control-next,
.carousel-control-prev 
{
    filter: invert(100%);
}



















/* SHIFT */
a:hover
{
  color:#fff !important;
}
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #242F9B;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #242F9B;

  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

